.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="tel"], input[type="email"], select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button.btn-submit {
    width: 100%;
}

#communityFormContainer {
    margin-top: 20px;
}
